* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --logo-color: #c8b568;
  --primary-color: #229b50;
}

/* carousel indicator */
#carousel-indicator > button {
  /* background: var(--primary-color); */
}
#carousel-indicator button:nth-of-type(1) {
  /* background-color: var(--primary-color); */
  height: 10px;
  width: 20px;
  border-radius: 10px;
}

#carousel-indicator button:nth-of-type(2) {
  /* background-color: var(--primary-color); */
  height: 10px;
  width: 20px;
  border-radius: 10px;
}

#carousel-indicator button:nth-of-type(3) {
  /* background-color: var(--primary-color); */
  height: 10px;
  width: 20px;
  border-radius: 10px;
}

#carousel-indicator button:nth-of-type(4) {
  /* background-color: var(--primary-color); */
  height: 10px;
  width: 20px;
  border-radius: 10px;
}

#carousel-indicator button:nth-of-type(5) {
  /* background-color: var(--primary-color); */
  height: 10px;
  width: 20px;
  border-radius: 10px;
}

#carousel-inner > #carousel-item {
  position: relative;
  max-height: 100%;
}
#carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-custom-green {
  color: var(--primary-color);
}

.quote-price {
  color: #fff;
  padding: 1rem 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.quote-price:hover {
  background: var(--primary-color);
  border: 2px solid #fff;
  transition: .5s;
}

.quote-price-sm {
  padding: 5px 10px;
}