@tailwind base;
@tailwind components;
@tailwind utilities;

#card-booking:hover {
  
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}
#card-booking {
  background: rgb(34,155,80);
background: linear-gradient(353deg, rgba(34,155,80,1) 0%, rgba(200,181,104,1) 100%);
}